.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ims{
  height: 250px;
  border-radius: 15px;
}
.li{list-style: none;}
.cont{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}
.cards{
  margin: 20px;
}
.main{
  text-align: center;
  background-image: linear-gradient(to bottom,rgb(10, 128, 219),rgb(139, 197, 32));
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}
.btn{
  height: 25px;
  width: 80px;
  border-radius: 7px;
  background-color: rgb(4, 89, 200);
  color: white;
  border: 0px;
}
.pp{
  color:rgb(130, 6, 95);
  font-weight:600;
}